API_ID=24880308
API_HASH=fce3dc86e231613c5e0e164cdf8f1ca9
BOT_TOKEN=7597057529:AAG4TvzqXvlT3hSxddwXatGGvdmkyBcdlm0
LOGGER_ID=-1002643544937
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7926944005
STRING_SESSION=AQF7pLQAOCJ6OBzoG-k6YFtGfpXDt2enDnOZ1IqO_dtcufFIn4yH8zFA2lr1gh5WI_76rBtPGuJaezWUPFFeQqg1yaI5T3Eiq-EkzyE2PkQCYXDhI3vf7eVO-GRC7EVrIv0ZQiriYHWLwWh_3H6P6_eGtUYq4B4kNkTLdMoD12lPbONcxLdDTXUCgeOqsWyT-xV3VU-2ThcSOcwTWC61BugKHv-wknx4uw8f7Re4rlh0kDRJoOOt53cL8e1f4bf7AH87VG4Q_yX4DZcveyUT57SIsRLKpCMr65Ykjwra_TJBeJIS9m05lgi3FsL2K39FngkXPZsYlhbmgaEJy7qNtrGrHmuRCgAAAAHoG-_JAA
